* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden; /* Evita el scroll en la página */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
}

header .info-link {
    display: inline-block;
    background-color: #444; /* Ajusta el color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

header .info-link:hover {
    background-color: #555; /* Color de fondo al pasar el mouse */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    flex-shrink: 0;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    width: 100%;
    height: calc(100vh - 120px);
    overflow: hidden;
}

.info-section {
    flex: 1; /* Cada caja ocupa una proporción igual del contenedor principal */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: white;
    margin: 10px;
    min-height: 210px;
    text-align: center;
    overflow-y: auto;
}

/* Media Queries */
@media (max-width: 767px) {
    .main-container {
        flex-direction: column !important; /* Apila las cajas verticalmente */
        justify-content: flex-start;
        align-items: center;
        height: auto !important; /* Permite que el contenedor crezca según el contenido */
        overflow-y: auto; /* Permite el scroll vertical */
        overflow-x: hidden; /* Evita el scroll horizontal */
    }

    .info-section {
        width: 90% !important; /* Ajusta el ancho de las cajas en móviles */
        max-width: none !important;
        margin: 10px 0 !important;
        height: auto !important; /* Permite que las cajas crezcan según el contenido */
        min-height: 200px !important; /* Establece una altura mínima para las cajas */
    }
}





}

