body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Evita el scroll en la página */
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden; /* Evita el scroll en la página */
}

.info-section {
    width: 100%;
    max-width: 600px; /* Asegura un ancho máximo razonable en pantallas grandes */
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    background-color: white;
    margin: 10px;
    min-height: 210px; /* Establece una altura mínima para cada caja */
    text-align: center; /* Centra el texto en dispositivos pequeños */
    box-sizing: border-box;
}

.info-link {
    display: inline-block;
    background-color: #444; /* Ajusta el color de fondo según tu diseño */
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    flex-shrink: 0;
    width: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start; /* Ajusta los elementos al inicio para evitar el desbordamiento */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si es necesario */
    }

    .info-section {
        flex: 1 1 calc(33% - 20px); /* Ajusta las secciones a un tercio del ancho del contenedor, con un margen */
        max-width: calc(33% - 20px); /* Asegura que no se exceda el ancho disponible */
        margin: 10px; /* Añade margen entre las cajas */
    }
}

@media (max-width: 767px) {
    .main-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .info-section {
        width: 90%; /* Asegura que las cajas ocupen un buen ancho en dispositivos móviles */
        max-width: none;
        margin: 10px 0; /* Añade margen vertical entre las cajas */
    }
}
